@import '../../../styles/variables';

.card {
    width: 45%;
}

.home {
    margin-top: 10%;
}

.alert-div {
    animation-name: flashAmt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes flashAmt {
    0% {background-color: white}
    50% {background-color: red}
    100% {background-color: white}
  }

  .home-icon-1{
    color: $color2;
  }

  .home-icon-2{
    color: $color3;
  }

  .home-icon-3{
    color: $color4;
  }

  .home-icon-4{
    color: $color5;
  }

  .card {
    background: rgb(230, 223, 217);
  }