.card {
    width: 45%;
}

.home {
    margin-top: 10%;
}

.alert-div {
    animation-name: flashAmt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes flashAmt {
    0% {background-color: white}
    50% {background-color: red}
    100% {background-color: white}
  }