const constants =  {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
  },
  youTubeConfig: {
    apiKey: "",
  }
};

export default constants;